<div class="problem-set-info row text-center">
  <hr>
  <h2><%= problemSet.get('title') %></h2>
  <h3><%= problemSet.get('due_date') %></h3>
  <hr>
</div>

<div class="problem-sets row">
  <div class="row text-center">
    <button class='button-a'>Problem Set A</button>
    <div class="problem-set-a small-10 small-offset-1 columns hide"></div>
  </div>

  <div class="row text-center">
    <button name="button" class='button-b'>Problem Set B</button>
    <div class="problem-set-b small-10 small-offset-1 columns hide"></div>
  </div>
</div>
